<!-- /views/dog_employee_relations.hbs -->

<a href = "https://cs340-project-group-10.herokuapp.com/index">
<button>To the Home Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/employees">
<button>To the Employees Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/dogs">
<button>To the Dogs Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/yards">
<button>To the Yards Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/kennels">
<button>To the Kennels Page</button></a>
<a href = "https://cs340-project-group-10.herokuapp.com/dog_employee_relations">
<button>To the Dog and Employee Relations Page</button></a>

<h1>Dog and Employee Relations</h1>

{{!-- Create a table --}}
<table id="dog_employee_relations-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the dog_id, emp_id, and get_along, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.dog_id}}</td>
            <td>{{this.emp_id}}</td>
            <td>{{this.get_along}}</td>
            <td><button name="delete" id={{this.dog_id}},{{this.emp_id}}>Delete</button></td>
            <td><button name="update" id={{this.dog_id}},{{this.emp_id}}>Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table> 

{{!-- Form to add a record to the table  --}}
<h2>Add New Dog and Employee Relation</h2>
<p>To add a new employee, please enter their information below and click 'Submit'!</p>
<form id="add-dog_employee_relation-form-ajax">
    <label for="input-dog_id">Dog ID: </label>
    <input type="text" name="input-dog_id" id="input-dog_id">
    
    <label for="input-emp_id">Employee ID: </label>
    <input type="text" name="input-emp_id" id="input-emp_id">

    <label for="input-get_along">Get Along (1 for yes, 0 for no): </label>
    <input type="number" name="input-get_along" id="input-get_along">

    <input type="submit">
</form>

<h2>Search Using an HTML Form</h2>
<p>Search by relation using the field below.</p>
<form id="search-dog_employee_relation-html" method='GET' action='/dog_employee_relations'>
    <label for="input-last_name">Search by Relation (1 is get along, 0 is do not get along): </label>
    <input type="text" name="get_along" id="input-get_along-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_dog_employee_relations.js"></script>
