<!-- ./views/yards.hbs -->

<h1>Yards</h1>

{{!-- Create a table --}}
<table id="yards-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the yard_id and then dog_limit --}}
        {{#each data}}
        <tr>
            <td>{{this.yard_id}}</td>
            <td>{{this.dog_limit}}</td>
            <td><button name="delete" id={{this.yard_id}}>Delete</button></td>
            <td><button name="update" id={{this.yard_id}}>Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table> 

{{!-- Form to add a record to the table  --}}
<h2>Add New Yard</h2>
<p>To add a new yard, please enter their information below and click 'Submit'!</p>
<form id="add-yard-form-ajax">
    <label for="input-dog_limit">Dog Limit: </label>
    <input type="text" name="input-dog_limit" id="input-dog_limit">

    <input type="submit">
</form>

<h2>Search Using an HTML Form</h2>
<p>Search by dog limit using the field below.</p>
<form id="search-yard-html" method='GET' action='/yards'>
    <label for="input-dog_limit">Search by Dog Limit: </label>
    <input type="text" name="dog_limit" id="input-dog_limit-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_yard.js"></script>
